<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="ressources/src/css/layout.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Document</title>
</head>
<header>
    <h1 id="header">Teilerado</h1>

    <form>
        <input id="button_register" type="submit" name="register" value="Registrieren">
        <input id="button_login" type="submit" name="anmelden" value="Anmelden">
    </form>
</header>
<body>
<div class="welcome">
    <p id="slogan">Denn teilen verbindet!</p>
</div>

<div class="search_box">
    <form>
        <input class="search_bar" type="text" name="search_item" placeholder="Ich suche...">
        <input class="search_bar" type="text" name="search_place" placeholder="Ort / PLZ">
        <input id="search_button" type="submit" name="suchen" value="Suchen">
    </form>
</div>


<div class="scrolling">
    <form>
        <input class="category" type="submit" name="filme" value="Filme">
        <input class="category" type="submit" name="serien" value="Serien">
        <input class="category" type="submit" name="serien" value="Vidospiele">
        <input class="category" type="submit" name="serien" value="Bücher">
        <input class="category" type="submit" name="serien" value="Musik-CDs">
        <input class="category" type="submit" name="serien" value="Hörbücher">
        <input class="category" type="submit" name="serien" value="Sportausrüstung">
        <input class="category" type="submit" name="serien" value="Party- & Eventzubehör">
        <input class="category" type="submit" name="serien" value="Kamera- & Videogeräte">
        <input class="category" type="submit" name="serien" value="Werkzeuge & Baumaterialien">
        <input class="category" type="submit" name="serien" value="Küchengeräte & -utensilien">
        <input class="category" type="submit" name="serien" value="Fahrzeuge">
    </form>
</div>

<div class="font">
    <h2 style="margin-left: 150px; font-weight: bolder; margin-top:70px; display: inline-block; padding: 20px; margin-bottom:0px; border-top-right-radius: 10px;
  border-top-left-radius: 10px; background: rgba(246, 245, 245, 0.72);">Vorschläge</h2>
</div>


<div class="color">
<div style="margin-left: auto; margin-right: auto; margin-top:100px; align-items: center; justify-content: center; margin: 100px auto;">
    <div class="grid-container">
        <a href="" class="show_items">
            <img src="ressources/Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_category_available">Verfügbar</p></br>
            <p class="fa fa-location-arrow" style="margin-left: 10px; font-size: 15px; margin-top: 5px; color: gray;"></p>
            <p class="item_location">30419 Herrenhausen</p>
            <p class="item_name">Bohrmaschine</p></br>
        </a>

        <a href="" class="show_items">
            <img src="ressources/Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_category_available">Verfügbar</p></br>
            <p class="fa fa-location-arrow" style="margin-left: 10px; font-size: 15px; margin-top: 5px; color: gray;"></p>
            <p class="item_location">30419 Herrenhausen</p>
            <p class="item_name">Bohrmaschine</p></br>
        </a>
        <a href="" class="show_items">
            <img src="ressources/Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_category_available">Verfügbar</p></br>
            <p class="fa fa-location-arrow" style="margin-left: 10px; font-size: 15px; margin-top: 5px; color: gray;"></p>
            <p class="item_location">30419 Herrenhausen</p>
            <p class="item_name">Bohrmaschine</p></br>
        </a>

        <a href="" class="show_items">
            <img src="ressources/Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_category_available">Verfügbar</p></br>
            <p class="fa fa-location-arrow" style="margin-left: 10px; font-size: 15px; margin-top: 5px; color: gray;"></p>
            <p class="item_location">30419 Herrenhausen</p>
            <p class="item_name">Bohrmaschine</p></br>
        </a>

    </div>
</div>
</div>

</body>

<footer>
    <p>
        © 2023 Kevin Breinert | Justin Wolff
        <a href="https://github.com/kevinbreinert/lendMeProject"  target="_blank"><i class="fa fa-github" style="font-size:35px; margin-left: 20px; vertical-align: middle; color: white; transition-duration: 0.4s"></i></a>
    </p>
</footer>
</html>