<!DOCTYPE html>
<body>

<div class="scrolling">
    <form>
        <input class="category" type="submit" name="filme" value="Filme">
        <input class="category" type="submit" name="serien" value="Serien">
        <input class="category" type="submit" name="serien" value="Vidospiele">
        <input class="category" type="submit" name="serien" value="Bücher">
        <input class="category" type="submit" name="serien" value="Musik-CDs">
        <input class="category" type="submit" name="serien" value="Hörbücher">
        <input class="category" type="submit" name="serien" value="Sportausrüstung">
        <input class="category" type="submit" name="serien" value="Party- und Eventzubehör">
        <input class="category" type="submit" name="serien" value="Kamera- und Videogeräte">
        <input class="category" type="submit" name="serien" value="Werkzeuge und Baumaterialien">
        <input class="category" type="submit" name="serien" value="Küchengeräte und -utensilien">
        <input class="category" type="submit" name="serien" value="Fahrzeuge">
    </form>
</div>
#5C8AFF
pruple
#675CFF


<div style="margin-left: auto; margin-right: auto; margin-top:100px; align-items: center; justify-content: center; margin: 100px auto;">
    <div class="grid-container">
        <div class="show_items">
            <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
    </div>
</div>




<div class="color">
    <div class="container">
        <div class="width_scroll_item">
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div><div class="show_items2">
            <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div><div class="show_items2">
            <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
            <div class="show_items2">
                <img src="../../test.jpg" alt="Italian Trulli" class="image"></br>
                <p class="item_category">Wekzeuge</p></br>
                <p class="item_name">Bohrmaschine</p></br>
            </div>
        </div>
    </div>
</div>
</body>
</html>