<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="CSS/layout.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <title>Document</title>
</head>
<header>
    <h1 id="header">Teilerado</h1>

    <form>
        <input id="button_register" type="submit" name="register" value="Registrieren">
        <input id="button_login" type="submit" name="anmelden" value="Anmelden">
    </form>
</header>
<body>
<div class="welcome">
    <p id="slogan">Denn teilen verbindet!</p>
</div>

<div class="search_box">
    <form>
        <input class="search_bar" type="text" name="search_item" placeholder="Ich suche...">
        <input class="search_bar" type="text" name="search_place" placeholder="Ort / PLZ">
        <input id="search_button" type="submit" name="suchen" value="Suchen">
    </form>
</div>


<div class="scrolling">
    <form>
        <input class="category" type="submit" name="filme" value="Filme">
        <input class="category" type="submit" name="serien" value="Serien">
        <input class="category" type="submit" name="serien" value="Vidospiele">
        <input class="category" type="submit" name="serien" value="Bücher">
        <input class="category" type="submit" name="serien" value="Musik-CDs">
        <input class="category" type="submit" name="serien" value="Hörbücher">
        <input class="category" type="submit" name="serien" value="Sportausrüstung">
        <input class="category" type="submit" name="serien" value="Party- und Eventzubehör">
        <input class="category" type="submit" name="serien" value="Kamera- und Videogeräte">
        <input class="category" type="submit" name="serien" value="Werkzeuge und Baumaterialien">
        <input class="category" type="submit" name="serien" value="Küchengeräte und -utensilien">
        <input class="category" type="submit" name="serien" value="Fahrzeuge">
    </form>
</div>

<div class="font">
    <h1 style="margin-left: 50px; font-weight: bolder;">Neuste Artikel</h1>
</div>


<div class="container">
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div><div class="show_items2">
    <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
    <p class="item_category">Wekzeuge</p></br>
    <p class="item_name">Bohrmaschine</p></br>
</div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div><div class="show_items2">
    <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
    <p class="item_category">Wekzeuge</p></br>
    <p class="item_name">Bohrmaschine</p></br>
</div>
    <div class="show_items2">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
</div>


<div style="margin-left: auto; margin-right: auto; margin-top:100px; align-items: center; justify-content: center; margin: 100px auto;">
    <div class="grid-container">
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div><div class="show_items">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div><div class="show_items">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div><div class="show_items">
        <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
        <p class="item_category">Wekzeuge</p></br>
        <p class="item_name">Bohrmaschine</p></br>
    </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>
        <div class="show_items">
            <img src="Images/test.jpg" alt="Italian Trulli" class="image"></br>
            <p class="item_category">Wekzeuge</p></br>
            <p class="item_name">Bohrmaschine</p></br>
        </div>





    </div>
</div>
</body>
</html>