<!DOCTYPE html>
<body>

<div class="scrolling">
    <form>
        <input class="category" type="submit" name="filme" value="Filme">
        <input class="category" type="submit" name="serien" value="Serien">
        <input class="category" type="submit" name="serien" value="Vidospiele">
        <input class="category" type="submit" name="serien" value="Bücher">
        <input class="category" type="submit" name="serien" value="Musik-CDs">
        <input class="category" type="submit" name="serien" value="Hörbücher">
        <input class="category" type="submit" name="serien" value="Sportausrüstung">
        <input class="category" type="submit" name="serien" value="Party- und Eventzubehör">
        <input class="category" type="submit" name="serien" value="Kamera- und Videogeräte">
        <input class="category" type="submit" name="serien" value="Werkzeuge und Baumaterialien">
        <input class="category" type="submit" name="serien" value="Küchengeräte und -utensilien">
        <input class="category" type="submit" name="serien" value="Fahrzeuge">
    </form>
</div>
#5C8AFF
pruple
#675CFF
</body>
</html>