#button_login{
    float: right;
    float: right;
    margin-right: 200px;
    margin-top: -60px;
    background-color: #1B2223; /* Hintergrundfarbe des Buttons */
    border: 2px solid #5C8AFF; /* Kein Rahmen um den Button */
    color: white; /* Textfarbe des Buttons */
    padding: 10px 15px; /* Abstand zwischen Text und Rand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung des Texts */
    display: inline-block;
    font-size: 15px; /* Größe des Texts */

    cursor: pointer; /* Cursor beim Hover-Effekt */
    border-radius: 8px; /* Abgerundete Ecken */
    transition-duration: 0.4s; /* Dauer des Hover-Effekts */
}

#button_register{
    float: right;
    margin-right: 40px;
    margin-top: -60px;
    background-color: #5C8AFF; /* Hintergrundfarbe des Buttons */
    border: 2px solid #5C8AFF; /* Kein Rahmen um den Button */
    color: white; /* Textfarbe des Buttons */
    padding: 10px 15px; /* Abstand zwischen Text und Rand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung des Texts */
    display: inline-block;
    font-size: 15px; /* Größe des Texts */
    cursor: pointer; /* Cursor beim Hover-Effekt */
    border-radius: 8px; /* Abgerundete Ecken */
    transition-duration: 0.4s; /* Dauer des Hover-Effekts */
}

#button_register:hover{
    background-color: #1B2223;
}

#button_login:hover{
    background-color: #5C8AFF;
}

.category{
    background-color: white; /* Hintergrundfarbe des Buttons */
    border: 1px solid gray; /* Kein Rahmen um den Button */
    color: gray; /* Textfarbe des Buttons */
    padding: 10px 15px; /* Abstand zwischen Text und Rand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung des Texts */
    display: inline-block;
    font-size: 18px; /* Größe des Texts */
    cursor: pointer; /* Cursor beim Hover-Effekt */
    border-radius: 8px; /* Abgerundete Ecken */
    transition-duration: 0.4s; /* Dauer des Hover-Effekts */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category:hover{
    color: #E8A268;
    border: 1px solid #E8A268;
    border-radius: 8px;
}
.scrolling{
    overflow-y: scroll;
    white-space: nowrap;
    margin-left:70px;
    margin-right: 70px;
    margin-top: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrolling::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
#header{
    margin-left: 40px;
    font-family: Arial;
    color: white;
}


header {
    margin: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #1B2223;
    padding: 0.05px;
    background-size: cover;

}

body{
    background-size: 100%;
    margin: 0;
    overflow-x: hidden;
}


body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.welcome{
    background: linear-gradient(to right, #25CCFE, #8F49FF);
    padding: 50px;
    text-align: center;
    font-family: Poppins;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.search_box{
    width: 1000px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    alignment: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    margin-top: -30px;
}

.search_bar{
    padding: 8px;
    padding-right: 130px;
    border: 2px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 20px;
}

.search_bar:focus{
    outline: none;
    border: 2px solid #E8A268;
    transition: border-color 0.5s ease;
}


#search_button{
    background-color: #0099FF; /* Hintergrundfarbe des Buttons */
    border: none;
    color: white; /* Textfarbe des Buttons */
    padding: 10px 15px; /* Abstand zwischen Text und Rand */
    text-align: center; /* Text zentrieren */
    text-decoration: none; /* Keine Unterstreichung des Texts */
    display: inline-block;
    font-size: 15px; /* Größe des Texts */
    cursor: pointer; /* Cursor beim Hover-Effekt */
    border-radius: 8px; /* Abgerundete Ecken */
    transition-duration: 0.4s; /* Dauer des Hover-Effekts */

}

#slogan{
    font-family: "Sofia", sans-serif;
    font-size:45px;

}

.container {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 20px;
    background-color: #f6f5f5;
    padding: 70px;




}

.container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.font{
    font-family: Poppins;
    color: #555555;
}

.show_items{
    background-color: white;
    border: 2px solid lightgray;
    width: 250px;
    height: 350px;
    border-radius: 17px;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 40px;
}
.show_items2 {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border: 2px solid lightgray;
    width: 250px;
    height: 350px;
    border-radius: 17px;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0px;
}

.image{
    margin-top:10px;
    margin-left:10px;
    height: 230px;
    width: 230px; /* ersetzen Sie 200px durch die gewünschte Breite */
    border-radius: 10px;
    object-fit: cover;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap: 50px;
    justify-items: center;
    margin: 0 auto;
    max-width: 2500px;
    margin-left: 150px;
    margin-right: 150px;
}

.item_category{
    color: #66BB66;
    padding: 2px 8px;
    border: 1px solid #99CC66 ;
    font-family: Poppins;
    display: inline-block;
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgba(153, 204, 102, 0.19);
    font-weight: 100;
}

.item_name{
    color: #555555;
    font-family: Poppins;
    display: inline-block;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: -8px;
    font-size:18px;

}